.taskPage{
    width: 100%;
    margin-top: 5.7rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;   
    width: 100%;
    max-width: 55rem;
    margin: 0 4rem;
}

.section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    width: 100%;

    .badgeOne{
        color: var(--blue);
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .textDecoration{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    .badgeTwo{
        color: var(--purple);
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .badgeOne, .badgeTwo{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start !important;
    }
}