.input{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    position: fixed;
    top: 10.7rem;
}

.alert{
    width: 100%;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 2rem;
    left: 2rem;
}